@import './common';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

body {
  width: 1430px;
  margin: 0 auto;
  background-color: #f7cac9;
  font-family: 'Raleway', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  &__card {
    width: 320px;
    height: 270px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: #fff;
  }

  &__image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
  }

  &__image:hover {
    transform: scale(1.03);
  }

  &__link {
    display: block;
    text-decoration: none;
    height: 100%;
  }

  &__link:hover {
    cursor: zoom-in;
  }

  .info {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
  }

  .info-item {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
}

.search {
  &__container {
    margin: 0 auto;
    padding-top: 64px;
    position: relative;
    width: 480px;
  }

  &__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
  }

  &__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &:hover,
    &:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
    }
  }

  &__btn {
    margin: 0 auto;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 45px;
    border: 0;
    background-color: transparent;
    color: #575756;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &:hover,
    &:focus {
      outline: 0;
      color: #ff8b88;
    }
  }

  &__btnLoad {
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.9rem;
    letter-spacing: 0.06em;
    text-align: center;
    color: #ff8b88;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border-style: none;
    width: 200px;
    height: 50px;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &:hover {
      opacity: 0.8;
      color: #575756;
    }
  }
}

.hidden {
  display: none;
}
